{% extends '_base.html' %}

{% block extra_css %}
{{ CSS.push('less/quotable.less') }}
{{ CSS.render('css/quotable.min.css') }}
{% endblock %}

{% block content %}
<div class="content">
    <div class="poster-wrapper">
        <div class="poster quote poster-news">
            <p class="logo-wrapper" style="text-align:center;margin: -15px auto 0;"></p>
            <span class="left-quote" style="margin-left:-13px;margin-top:0px;">'</span>
            <blockquote><p style="font-weight:normal"></p></blockquote>
            <p class="source" style="font-weight:300"></p>
            <p class="show-credit" style="font-weight:300;max-width:500px"></p>
            <!--<p class="logo-wrapper" style="float:left;position:absolute;bottom:-5px;left:20px"></p>-->
            <!--<p class="selo-wrapper"><img src="../img/aosfatos-logo.png" width="67px" style="float:right;position:absolute;bottom:55px;right:30px" /></p>-->
            <p class="selo-wrapper"><img src="../img/aosfatos-logo.png" width="40px" style="float:right;position:absolute;bottom:35px;right:40px" /></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="form controls col-md-12">
                <div class="controls-wrapper">
                    <div class="form-group">
                        <label for="fontsize">Tamanho da fonte</label>
                        <input id="fontsize" name="fontsize" type="range" min="24" max="120" value="90">
                    </div>
                    <div class="form-group">
                        <label for="theme">Selo</label>
                        <div id="theme" class="btn-group-vertical">
                            <button id="theme1" class="btn btn-primary active">Falso</button>
                            <button id="theme2" class="btn btn-primary">Exagerado</button>
                            <button id="theme3" class="btn btn-primary">Impreciso</button>
                            <button id="theme4" class="btn btn-primary">Contraditório</button>
                            <button id="theme5" class="btn btn-primary">Insustentável</button>
                            <button id="theme6" class="btn btn-primary">Distorcido</button>
                            <button id="theme7" class="btn btn-primary">Verdadeiro</button>
                            <button id="theme8" class="btn btn-primary"><strong>SEM SELO</strong></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="aspect-ratio">Proporção</label>
                        <div id="aspect-ratio" class="btn-group">
                            <button id="sixteen-by-nine" class="btn btn-primary">FB/Twitter (16:9) <i class="fa fa-twitter"></i></button>
                            <button id="square" class="btn btn-primary active">Quadrado</button>
                            <button id="square" class="btn btn-primary active">Stories (em breve)</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="quote">Aspas</label>
                        <div id="quote" class="btn-group">
                            <button class="btn btn-primary active">Mostrar</button>
                            <button class="btn btn-primary">Esconder</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="show">Texto livre <span class="help">(ex. checagem, local, contexto da fala, data etc.)</span></label>
                        <input id="show" class="form-control" name="fontsize" type="text">
                    </div>
                    <div class="form-group">
                        <button id="save" class="btn btn-lg btn-primary">Exportar imagem</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jquery %}
{% if DEPLOYMENT_TARGET == 'electron' %}
<script type="text/javascript">
    window.$ = window.jQuery = require('../js/lib/jquery.js')
</script>
{% else %}
{{ JS.push('js/lib/jquery.js') }}
{% endif %}
{% endblock jquery %}


{% block extra_foot_js %}
{{ JS.push('js/lib/html2canvas.js') }}
{{ JS.push('js/lib/medium-editor.min.js') }}
{{ JS.push('js/quotable.js') }}
{{ JS.render('js/quotable.min.js') }}
{% endblock extra_foot_js %}
